/.classpath
/.project
/.DS_Store
/target/
/src/main/resources/adresse.csv
csv_reader_app/src/main/resources/Post_Adressdaten20180220.csv 
/csv_reader_app/src/main/resources/Post_Adressdaten20180220.csv 
/Post_Adressdaten20180220.csv 
/Users/Francky/git/csv_reader_app/src/main/resources/Post_Adressdaten20180220.csv
